.register {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: 100px auto;
}

.register input {
  padding: 8px;
}

.register button {
  padding: 8px;
  background-color: #3498db;
  color: white;
  border: none;
}