* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #fff; /* sesuaikan warna yang diinginkan */
  color: #000; /* warna teks navbar */
  display: flex;
  align-items: center;
  padding: 0 20px;
}